/* components/Navbar/Navbar.module.css */

.navbar {
  position: fixed; /* Make the navbar fixed */
  top: 0; /* Stick it to the top */
  left: 0;
  width: 100%; /* Take the full width of the viewport */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 2rem; /* Adjust padding for smaller screens */
  background-color: white;
  color: black; /* Change text color */
  z-index: 1000; /* Ensure it stays above other content */
}

.logo a {
  font-size: 1.5rem;
  font-weight: bold;
  color: black;
  text-decoration: none;
}

.navLinks {
  list-style: none;
  display: flex;
  flex-direction: column; /* Change to column layout for smaller screens */
  gap: 1rem; /* Adjust gap between links */
  margin-left: 0; /* Remove margin for smaller screens */
}

.navLinks a {
  color: black;
  text-decoration: none;
}

.navLinks a:hover {
  text-decoration: underline;
}

@media screen and (min-width: 768px) {
  .navLinks {
    flex-direction: row; /* Revert to row layout for larger screens */
    gap: 5rem;
    margin-left: 5rem; /* Adjust margin for larger screens */
  }
}
