.videoBackground {
  position: relative;
  width: 100%;
  height: 100vh; /* Make the video cover the full viewport height */
  overflow: hidden;
}

.videoBackground video {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ensure the video covers the entire area */
}

.textOverlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  z-index: 1; /* Ensure the text appears above the video */
}
.imageBackground {
  position: relative;
  width: 100%;
  height: 100vh;
  background-image: url('../assets/light-brown.jpg'); /* Add your image path here */
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
